body {
  width: 100vw;
  height: 100svh;
  padding: 0;
  margin: 0;
  display: grid;
  place-content: center;
  background-color: hsl(0, 0%, 87%);
}

.main {
  display: grid;
  place-content: center;
  width: 20rem;
}

.logo {
  height: 21rem;
  position: relative;

  &__icon {
    background-image: url(./dolor.png);
    background-position: center;
    background-size: 120%;
    background-repeat: no-repeat;

    width: 100%;
    height: 100%;
    position: absolute;
  }
  &__cover {
    width: 65%;
    height: 100%;
    right: 52%;
    position: absolute;
    border-radius: 1.4rem;

    animation: blur 2000ms ease forwards;
    &--back {
      width: 66%;
      height: 101%;
      right: 51%;
      bottom: -1%;
      border: 2px solid white;
      z-index: -1;

      -webkit-filter: blur(1px);
      filter: blur(1px);
      background-color: rgba(255, 255, 255, 0.354);
    }
    &--front {
      background-color: hsla(0, 0%, 100%, 0);
      -webkit-backdrop-filter: blur(20px);
      backdrop-filter: blur(20px);
    }
  }
}

@keyframes blur {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.title {
  margin-block: 0.8em 1.5em;

  font-size: 2.5rem;
  font-family: "Kanit", sans-serif;
}

.thoughts {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 6.2rem;
    height: 1.5rem;
    background-color: hsl(0, 0%, 87%);
    position: absolute;
    left: 10%;
  }

  &__thought {
    font-size: 0.75em;
    font-family: "Roboto", sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;

    position: absolute;

    animation-delay: 3s;
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;

    &:first-child {
      width: 0;
      right: 50%;
      overflow: hidden;
      z-index: 0;

      animation-name: firstThought;
    }

    &:last-child {
      left: 30%;
      z-index: -1;

      animation-name: lastThought;
    }
  }

  &__line {
    width: 1px;
    margin: 0.5em;
    border: none;
    background-color: black;
    position: absolute;
    z-index: 2;

    animation: visible 900ms 2000ms ease-in-out 1 forwards;
  }
}

@keyframes firstThought {
  from {
    width: 0;
  }
  to {
    width: 30%;
  }
}
@keyframes lastThought {
  from {
    left: 30%;
  }
  to {
    left: 56%;
  }
}
@keyframes visible {
  from {
    height: 0;
  }
  to {
    height: 3rem;
  }
}
